body{
	width: 600;
	
	margin-left: auto;
	margin-right: auto;
	font-family: times new roman;
}

a{color: blue;} a:hover{color: red;} .menulink{margin-left: 5; margin-right: 5;}

table, tr, th{
	border: 1px solid black;
	overflow: hidden;
}

.banner{
	width: 600;
	height: 75;
	background-image: url("photos/banner.png");
}

.menubar{
	width: 600;
	height: 25;
	background-color: #3AA655;
}

.pgmenu{
	width: 600;
	height: 25;
	background-color: lightgrey;
}

.mainpagetxt{
	width: 600;
}

.bulletin{
	width: 400;
	height: 145;
	background-image: url("photos/bulletin.jpg");
	position: absolute;
	font-weight: bold;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: comic sans ms;
}

.ts{
	width: 195;
	height: 145;
	background-color: black;
	margin-left: 405
}

.bulletinhead{
	width: 400;
	height: 25;
	font-size: 20;
	text-align: center;
	background-image: url("photos/paper.jpg");
}

.sidebar{
	width: 190;
	height: 600;
	margin-left: 410;
	margin-top: -455;
	background-color: blue;
	color: white;
}

.pagebottom{
	width: 600;
	height: 100;
	margin-top: 10;
}

.code{
	font-family: "Courier New", Courier, monospace;
	color: #778899;
}
