html{
	background: linear-gradient(purple, red, yellow) fixed;
	padding: 0;
	margin: 0;
}

a{color: blue;}a:hover{color:red;}

body{
	width: 90%;
	max-width: 680;
	padding: 10;

	margin-right: auto;
	margin-left: auto;	
	margin-top: 30;
	margin-bottom: 30;

	background-color: white;
	border: 5px solid black;
	border-radius: 25px;
}

h1, h2, h3{
	text-shadow: 2px 0px yellow, 2px 2px red, 2px 4px purple;
}
