/*#3AA655, #F9D3A5*/

body{
	background-color: lightgrey;
	font-family: "Times New Roman", Times, serif;
}

a{
	color: blue;
}

a:hover{
	color: red;
}

.main{
	background-color: white;
	width: 800;
	height: 800; /*TMP*/
	margin-left: auto;
	margin-right: auto;
}

.banner{
	width: 780;
	height: 100;
	margin-left: 10;
	margin-top: 10;
	background-image: url("banner.jpg");
	position: absolute;
}

.a{
	margin-left: 5;
	margin-right: 5;
}

.bordermain{
	width: 780;
	height: 680;
	position: absolute;
	margin-top: 110;
	margin-left: 10;
	background-color: #3AA655;
}

.upmenu{
	width:760;
	height: 25;
	background-color: white;
	margin-left: 10;
	margin-top: 10;

	
}

.lwmenu{
	width:760;
	height: 25;
	background-color: lightgrey;
	margin-left: 10;
	margin-top: 0;
}

.welcome{
	width: 556;
	height: 21;
	padding: 2;
	margin-top: 10;
	margin-left: 10;
	background-color: white;
}

.body{
	width: 556;
	height: 416;
	background-color: white;
	margin-top: 10;
	margin-left: 10;
	padding: 2;
	
}

.bulletin{
	width: 556;
	height: 131;
	background-color: white;
	margin-top: 10;
	margin-left: 10;
	padding: 2;
	background-image: url("bulletin.jpg");
	font-family: "comic sans ms";
}

.bulletinhead{
	width:556;
	height: 31;
	background-image: url("paper.jpg");
}

.bulletinmain{
	width: 556;
	height: 100;
	overflow: auto;
	font-weight: bold;
}

.sidebar{
	width: 190;
	height: 455;
	margin-right: 10;
	margin-top: -600;
	background-color: white;
	float: right;
	
}

.corner{
	width: 190;
	height: 135;
	background-color: blue;
	float: right;
	margin-right: 10;
	margin-top: -135;
	color: white;
}

/*SEASONAL*/

.xmas{
	position: absolute;
	elevation: 10;
	display: none;
}