body{
	background-image: url("space.jpg");
	color: yellow;
	width: 800;
	border: 1px solid yellow;
	margin-left: auto;
	margin-right: auto;	
}

table, tr, td{
	background-color: white;
	border: 1px solid black;
	color: black;
}

table{
	margin-left: auto;
	margin-right: auto;
}

td{
	width: 200;
	text-align: center;
}

a{
	color: blue;
}

a:hover{
	color: red;
}

.main{
	width: 700;
	margin-left: 50;
	margin-right: 50;
	margin-top: 50;
	height: 700;
	border: 1px solid yellow;
}

.reddit{
	margin-top: 447px;
	border-top: 1px solid yellow;
}