body{
	background-color: white;
	padding: 0;
	margin: 0;
	font-family: Arial;
}

a{color: #7da4c4; text-decoration: none; display: inline-block;}a:hover{color: #ffb97c;}

.topbar{
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	font-size: 48;
}

.middlebar{
	width: 100%;
	height: 400;
	background-image: url(1.jpg);
}

.mainmenu{
	font-size: 24;
}

.screenbottom{
	margin-top: 12%;
}

.txtbox{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}